<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 550px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }
        .c{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .history{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .curs:hover{
            cursor: pointer;
        }
        .time{
            display: flex;
            flex-direction: column;
        }
        .come{
            text-align: center;
        }


        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {height: auto;}
        }
    </style>
</head>
<body class="bg-warning">

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">Age</a></li>
                <li><a href="#">Gender</a></li>
                <li><a href="#">Geo</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Demo Bank</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a th:href="@{/home}" th:text="${account.getUser().getFirstName()}"></a></li>
                <li><a th:href="@{/payment}">Payments</a></li>
                <li><a th:href="@{/transfer}">Transfers</a></li>
                <li><a th:href="@{/settings}">Settings</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>

            </ul><br>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="well" style="background-color: #3ba9a5;">
                <h2 th:text="${account.getAccountName()}"></h2>
                <h3 style="color: white">Card info</h3>
            </div>
            <div class="row">
                <div class="col-sm-4 " >
                    <div class="well curs come" style="background-color: chartreuse">
                        <div class="row c ">
                            <h4 style="" >Income</h4>
                        </div>
                        <h4 style="" th:text="${incomeSum + ' KZT'}"></h4>

                    </div>
                </div>
                <div class="col-sm-4" >
                    <div class="well curs come" style="background-color: orangered">
                        <div class="row c">
                            <b><h4 style="" >Outcome</h4></b>
                        </div>
                        <h4 style="" th:text="${outcomeSum + ' KZT'}"></h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="well" style="background-color: #4386DC;color: white">
                        <h3 style="margin-top: 5px">History</h3>
                    </div>
                    <div class="well curs history" style=" color: #ffffff;" th:each="tran:${transactions}">

                            <div class="time" style="color:black">
                            <b><p th:text="${#dates.day(tran.transactionDate)  + ' ' + #dates.monthNameShort(tran.transactionDate)}"></p></b>
                            <b><p th:text="${#dates.hour(tran.transactionDate) + ':' + #dates.minute(tran.transactionDate)}"></p></b>
                            </div>
                            <div class="time" style="color: black">
                                <b><p>Status</p></b>
                                <b><p>Finished</p></b>
                            </div>
                            <div class="time" style="color: black">
                            <b><h4 th:if="${tran.getSenderId() == account.getAccountId()}"><span th:text="${'-' + tran.amount + ' KZT'}"></span></h4></b>
                            <b><h4 th:unless="${tran.getSenderId() == account.getAccountId()}" ><span th:text="${tran.amount +  ' KZT'}"></span></h4></b>
                                <b><p th:if="${tran.getSenderId() == account.getAccountId()}" style="color: orangered">Outcome</p></b>
                                <b><p th:unless="${tran.getSenderId() == account.getAccountId()}" style="color: chartreuse">Income</p></b>
                            </div>

                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="well" style="background-color: navajowhite">
                        <div class="well" style="text-align: center; background-color: coral">
                            <h3>Card Details</h3>
                        </div>
                        <div>
                            <h4 th:text="${'Balance: ' + account.getBalance() + ' KZT'}"></h4>
                        </div>
                        <div>
                            <h4>Card Number: </h4>
                            <p th:text="${account.getAccountNumber()}"></p>
                        </div>
                        <div>
                            <h4>Expire Date: </h4>
                            <p th:text="${account.getExpires()}"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
